/* GENERAL */

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  display: grid;
  justify-content: center;
  background-color: #c4a077;
}

/* HEADER.JS */

header {
  border-bottom: 3px solid saddlebrown;
  margin-top: 5em;
}

.line {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#list {
  margin-left: 2em;
  width: 7em;
  height: 35px;
  float: right;
}

#addTodo {
  width: 30em;
  height: 2em;
  margin: 5px;    
}

.btn {
  width: 2em;
  height: 2em;
  border-radius: 10%;
}

.addBtn {
  background: #3C7891;
}

/* TODOLIST.JS */

main {
  margin-top: 1em;
  width: 60em;
}

.row {
  display: flex;
  align-items: center;
  height: 2em;
  border-bottom: 1px solid saddlebrown;
  padding: 2em 0 2em 0;
}

.buttons {
  margin-left: auto;
}

.deleteBtn {
  background: #BD271E;
  margin-left: 4px;
}

.editBtn {
  background: #8723A6;
}

.checkbox {
  background: #ccc;
}

.values {
  margin-left: 1em;
  display: flex;
}

.values h3 {
  max-width: 60em;
  text-overflow: ellipsis;
}


.date {
  margin-left: 1em;
  font-size: 12px;
}

.editTodo {
  position: absolute;
  margin-left: 3em;
  width: 33em;
  height: 2em;
}

.hidden {
  display: none;
}

.green {
  color: #10735D;
}

